<h4 style="text-align: center;">Discover</h4>

<!-- <h4>Dust's Corner</h4>
<ul class="side-panel">
    <li><a href="">Thoughts</a></li>
    <li><a href="">Collection</a></li>
    <li><a href="">Books</a></li>
    <li><a href="">Fragrance</a></li>
</ul> -->

<h4>Socials</h4>
<ul class="side-panel">
    <li><a href="https://www.instagram.com/dustivndr/" target="_blank">Instagram</a></li>
    <li><a href="https://x.com/dustivndr/" target="_blank">Twitter/X</a></li>
    <li><a href="https://www.youtube.com/channel/UCRC2vbQoohJPE05R3QmBviw" target="_blank">YouTube</a></li>
</ul>