html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Consolas, Courier, monospace;
    background-color: #0c0c0c;
    color: #fff;
}

main, header, footer {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

section {
    padding: 20px;
}

hr {
    border: 1px dashed #e0e0e0;
    margin: 16px 0;
}

nav {
    margin: 0;
}

a:link, a:visited {
    color: #e0e0e0;
    text-decoration: underline;
}

a:hover, a:active {
    color: #0c0c0c;
    text-decoration: none;
    background-color: #e0e0e0;
}

footer div , header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

footer {
    padding-bottom: 20px;
}

p {
    margin: 0;
}

@media (max-width: 600px) {

    header div, footer div {
        padding: 0 10px
    }

    section {
        padding: 10px;
    }

}

.left {
    display: flex;
    justify-content: flex-start;
}

.right {
    /* display: flex;
    justify-content: flex-end; */
    text-align: right;
}