html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Consolas, Courier, monospace;
    background-color: #0c0c0c;
    color: #eee;
}

main, header, footer {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

section {
    padding: 20px;
}

hr {
    border: 1px dashed #e0e0e0;
    margin: 16px 0;
}

nav {
    margin: 0;
}

a:link, a:visited {
    color: #eee;
    text-decoration: underline;
}

a:hover, a:active {
    color: #0c0c0c;
    text-decoration: none;
    background-color: #eee;
}

footer div , header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

footer {
    margin-top: 40px;
    padding-bottom: 20px;
}

p {
    margin: 0;
    padding: 5px 0;
    line-height: 1.5;
}

table {
    border-collapse: collapse;
    margin: 10px 0;
    min-width: 400px;
}

thead {
    background-color: #eee;
    color: #0c0c0c;
    text-align: center;
}

tbody {
    text-align: left;
}

th, td {
    border: 1px solid #eee;
    padding: 8px 12px;    
}

@media (max-width: 600px) {

    header div, footer div {
        padding: 0 10px
    }

    section {
        padding: 10px;
    }

    table {
        min-width: max-content;
        overflow-x: auto;
    }

}

.left {
    display: flex;
    justify-content: flex-start;
}

.right {
    /* display: flex;
    justify-content: flex-end; */
    text-align: right;
}